@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Светлая тема */
    --background: 240 2% 38%; /* #5D5C61 */
    --foreground: 240 2% 20%; /* #5D5C61 (немного затемнен) */

    --primary: 162 45% 40%; /* #379683 */
    --primary-foreground: 0 0% 100%; /* Белый */

    --secondary: 203 30% 60%; /* #7395AE */
    --secondary-foreground: 240 2% 20%; /* #5D5C61 (немного затемнен) */

    --muted: 30 20% 65%; /* #B1A296 */
    --muted-foreground: 240 2% 40%; /* #5D5C61 (средняя светлость) */

    --accent: 203 30% 50%; /* #557A95 */
    --accent-foreground: 240 2% 20%; /* #5D5C61 (немного затемнен) */

    --destructive: 0 60% 50%; /* Красный */
    --destructive-foreground: 0 0% 100%; /* Белый */

    --border: 240 2% 80%; /* #5D5C61 (немного осветлен) */
    --input: 240 2% 80%; /* #5D5C61 (немного осветлен) */
    --ring: 162 45% 40%; /* #379683 */

    --radius: 0.5rem; /* Радиус */
  }

  [data-theme="dark"] {
    /* Темная тема */
    --background: 180 5% 19%; /* #2C3531 */
    --foreground: 180 40% 88%; /* #D1E8E2 */

    --primary: 180 60% 35%; /* #116466 */
    --primary-foreground: 180 40% 88%; /* #D1E8E2 */

    --secondary: 30 40% 70%; /* #D9B08C */
    --secondary-foreground: 180 5% 19%; /* #2C3531 */

    --muted: 180 40% 88%; /* #D1E8E2 */
    --muted-foreground: 180 40% 70%; /* #D1E8E2 (немного изменен) */

    --accent: 30 50% 75%; /* #FFCB9A */
    --accent-foreground: 180 5% 19%; /* #2C3531 */

    --destructive: 0 60% 40%; /* Красный */
    --destructive-foreground: 180 40% 88%; /* #D1E8E2 */

    --border: 180 10% 25%; /* #2C3531 (немного изменен) */
    --input: 180 10% 25%; /* #2C3531 (немного изменен) */
    --ring: 180 60% 35%; /* #116466 */

    --radius: 0.5rem; /* Радиус */
  }
}
